$fonts: (
  'Space Grotesk': (
    'space-grotesk-regular' 400,
  )
);

@mixin font-face(
  $font-family,
  $font-file,
  $font-weight,
  $font-style,
  $font-display,
  $font-extensions
) {

  @font-face { // stylelint-disable-line
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    display: $font-display;

    @each $font-extensions in $font-extensions {
      $font-format: $font-extensions;

      @if ($font-extensions == 'ttf') {
        $font-format: 'truetype';
      } @else if ($font-extensions == 'otf') {
        $font-format: 'opentype';
      }

      src: url('../fonts/#{$font-file}.#{$font-extensions}') format($font-format);
    }
  }
}

@each $font in $fonts {
  $font-family: nth($font, 1);
  $font-variants: nth($font, 2);

  @each $font-variant in $font-variants {
    $font-file: nth($font-variant, 1);
    $font-weight: nth($font-variant, 2);
    $font-style: normal;
    $font-display: swap;
    $font-extensions: ['woff', 'woff2'];

    @if length($font-variant) == 3 {
      $font-style: nth($font-variant, 3);
    } @else if length($font-variant) == 4 {
      $font-display: nth($font-variant, 4);
    } @else if length($font-variant) == 5 {
      $font-extensions: nth($font-variant, 5);
    }

    @include font-face(
      $font-family,
      $font-file,
      $font-weight,
      $font-style,
      $font-display,
      $font-extensions
    );
  }
}
