@mixin svg ($path, $large-side, $ratio, $vertical: false) {

  @if $vertical {
    width: $large-side / $ratio;
    height: $large-side;
  } @else {
    width: $large-side;
    height: $large-side * $ratio;
  }

  &::before {
    content: '';
    display: block;
    background: url($path) no-repeat;
    background-position: center;
    background-size: 100%; // stylelint-disable-line
    height: 100%;
  }
}
