$fonts: (
  // 'Example Sans': (
  //   'example-sans-400' 400,
  //   'example-sans-900' 900
  // ),
  // 'Example Display': (
  //   Add a comma at the end if there is only one variant.
  //   'example-display' 400 normal swap ['ttf', 'otf'],
  // )
);

@mixin font-face(
  $fontFamily,
  $fontFile,
  $fontWeight,
  $fontStyle,
  $fontDisplay,
  $fontExtensions) {

  @font-face {
    font-family: $fontFamily;
    font-weight: $fontWeight;
    font-style: $fontStyle;
    display: $fontDisplay;

    @each $fontExtension in $fontExtensions {
      $fontFormat: $fontExtension;

      @if ($fontExtension == 'ttf') {
        $fontFormat: 'truetype';
      } @else if ($fontExtension == 'otf') {
        $fontFormat: 'opentype';
      }

      src: url('../fonts/#{$fontFile}.#{$fontExtension}') format($fontFormat);
    }
  }
}

@each $font in $fonts {
  $fontFamily: nth($font, 1);
  $fontVariants: nth($font, 2);

  @each $fontVariant in $fontVariants {
    $fontFile: nth($fontVariant, 1);
    $fontWeight: nth($fontVariant, 2);
    $fontStyle: normal;
    $fontDisplay: swap;
    $fontExtensions: ['woff', 'woff2'];

    @if length($fontVariant) == 3 {
      $fontStyle: nth($fontVariant, 3);
    } @else if length($fontVariant) == 4 {
      $fontDisplay: nth($fontVariant, 4);
    } @else if length($fontVariant) == 5 {
      $fontExtensions: nth($fontVariant, 5);
    }

    @include font-face(
      $fontFamily,
      $fontFile,
      $fontWeight,
      $fontStyle,
      $fontDisplay,
      $fontExtensions
    );
  }
}
