@mixin svg ($path, $largeSide, $ratio, $vertical: false) {

  @if $vertical {
    width: $largeSide / $ratio;
    height: $largeSide;
  } @else {
    width: $largeSide;
    height: $largeSide * $ratio;
  }

  &::before {
    content: '';
    display: block;
    background: url($path) no-repeat;
    background-position: center;
    background-size: 100%;
    height: 100%;
  }
}
