.o-title {
  font-weight: $wght-regular;
  line-height: 0.9;

  &--main {
    font-size: $fs-main-title;
    max-width: 6em;
    margin: 0 $sp-m 0 0;
  }

  &--project {
    font-size: $fs-project-title;
    margin: 0;
  }
}
