.o-title {
  font-size: $fs-title-mobile;
  font-weight: $wght-regular;
  margin: 0;
  line-height: 0.9;

  @include media(m) {
    font-size: $fs-title-tablet;
  }

  &--big {
    font-size: $fs-bigTitle;
    max-width: 6em;
    margin: 0 $sp-m $sp-s 0;
  }
}
