.c-footer {
  margin: $sp-xl 0 0 0;

  @include mq(m) {
    margin: $sp-xxl 0 0 0;
  }

  &__wrapper {
    padding: 0 0 $sp-s 0;
    display: flex; // stylelint-disable-line
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__author {
    margin: $sp-m 0 0 0;
    max-width: 9.2em;

    @include mq(m) {
      text-align: right;
    }
  }
}
