.c-header {

  &__wrapper {
    padding: $sp-s 0 0 0;
  }

  &__banner {
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    margin: 0 0 $sp-s 0;
  }

  .o-small {
    margin: $sp-m 0 0 0;
  }
}
