.c-header {
  // .c-header
}

.c-header__wrapper {
  padding: $sp-s 0 0 0;
}

.c-header__banner {
  display: flex; // stylelint-disable-line
  flex-wrap: wrap;
}

.c-header__title {
  margin: 0 0 $sp-s 0;
}

.c-header__description {

  .o-small {
    margin: $sp-m 0 0 0;
  }
}
