.c-header {
  height: 50vh;

  &__wrapper {
    padding: $sp-s 0 0 0;
  }

  &__banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 28em;
  }

  &__title {
    margin: 0 0 $sp-s 0;
  }
}
