.c-projects {
  text-align: right;
  padding: $sp-xl 0 0 0;

  @include mq(m) {
    padding: $sp-xxl 0 0 0;
  }
}

.c-projects__title {
  display: inline-flex;

  @include mq(l) {
    padding: 0 $sp-xs 0 0;
  }
}

.c-projects__list {
  margin: $sp-xm 0 0 0;
}

.c-projects__item {

  &:not(:first-child) {
    margin: $sp-l 0 0 0;

    @include mq(m) {
      margin: $sp-xl 0 0 0;
    }
  }
}

/* purgecss start ignore */

.c-projects__description {
  margin: $sp-xs 0 0 0;

  .o-small {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    @include mq(l) {
      padding: 0 $sp-s 0 0;
    }
  }

  [data-spanified] {

    &:not(:first-child) {
      margin: 0 0 0 0.35em;
    }

    &:last-child {

      [data-animation] { // stylelint-disable-line

        @include js {

          @include mq(':h') {
            transition-delay: 100ms;
          }
        }
      }
    }
  }
}

/* purgecss end ignore */

.c-projects__link {

  @include js {

    @include mq(':h') {
      pointer-events: none;

      @include mq(prm) {
        pointer-events: auto;
      }
    }
  }

  [data-animation='smallTranslate'] {

    @include mq(':h') {
      opacity: 0 !important; // stylelint-disable-line
    }

    @include js {

      @include mq(':h') {
        transform: translateY(20px) translateZ(0) !important; // stylelint-disable-line
        transition-property: transform, opacity;
        transition-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
        transition-duration: 500ms;
      }
    }
  }

  &:focus,
  &:hover {

    [data-animation='smallTranslate'] {

      @include mq(':h') {
        opacity: 1 !important; // stylelint-disable-line
      }

      @include js {

        @include mq(':h') {
          transform: translateY(0) translateZ(0) !important; // stylelint-disable-line
        }
      }
    }
  }
}
