.c-projects {
  text-align: right;
  padding: $sp-xl 0 0 0;

  @include mq(m) {
    padding: $sp-xxl 0 0 0;
  }

  &__title {
    margin: 0;
    font-weight: $wght-regular;
    font-size: $fs-body;
  }

  &__list {
    margin: $sp-m 0 0 0;
  }

  &__item {

    &:not(:first-child) {
      margin: $sp-l 0 0 0;

      @include mq(m) {
        margin: $sp-xl 0 0 0;
      }
    }
  }

  .o-small {
    @include mq(l) {
      max-width: inherit;
    }
  }
}
