.c-socials {
  margin: 0 $sp-m 0 0;
}

.c-socials__item {

  @include mq(l) {
    display: inline-block;
  }

  &:not(:first-child) {
    margin: $sp-s 0 0 0;

    @include mq(l) {
      margin: 0 0 0 $sp-m;
    }
  }
}
