.c-projects {
  text-align: right;

  &__item {
    margin: $sp-l 0 0 0;

    &:first-child {
      margin: 0;
    }

    &::before {
      display: none; // stylelint-disable-line
    }
  }

  &__description {
    margin: $sp-xs 0 0 0;
  }
}
