<header class="c-header">
  <a class="c-skip" href="#main">Skip to content</a>
  <div class="l-container">
    <div class="c-header__wrapper">
      <div class="c-header__banner">
        <div class="c-header__title">
          <h1 class="o-title o-title--main u-hidden js-animation" data-animation="fadeIn">{{ header.title }}</h1>
        </div>
        <div class="c-header__description">
          <h2 class="o-text u-hidden js-animation" data-animation="fadeIn">{{ header.subtitle }}</h2>
            <p class="u-hidden js-animation" data-animation="fadeIn">{{ header.content }}</p>
          {% if header.link %}
            <a class="o-small u-underline u-hidden js-animation" data-animation="fadeIn" href="{{ header.link.url }}">{{ header.link.display }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
