<header class="c-header">
  <div class="l-container">
    <div class="c-header__wrapper">
      <div class="c-header__banner">
        <div class="c-header__title js-animation" data-animation="fade-in">
          <h1 class="o-title o-title--main">{{ title }}</h1>
        </div>
        <div>
          <h2 class="o-text js-animation" data-animation="fade-in">I’m Digital Designer &amp;&nbsp;Frontend Developer.</h2>
          <p class="js-animation" data-animation="fade-in">Freshly graduated in&nbsp;Web & Mobile Design, I’m&nbsp;currently looking for a&nbsp;job.</p>
          <a class="o-small u-underline u-margin-s js-animation" data-animation="fade-in" href="mailto:hello@benjamindossantos.be">hello＠benjamindossantos.be</a>
        </div>
      </div>
      {# <ul class="c-skip">
        <li class="c-skip__item">
          <a class="o-small" href="#main" aria-label="skip to content">Skip to content</a>
        </li>
        <li class="c-skip__item">
          <a class="o-small" href="#main">↓ Scroll down</a>
        </li>
      </ul> #}
    </div>
  </div>
</header>
