<nav class="l-navigation">
  <ul class="c-projects">
    {% for project in projects %}
      <li class="c-projects__item">
        <h3 class="o-title"><a href="{{ project.url }}">{{ project.name }}</a></h3>
        <div>
          <p class="o-small">{{ project.description }}</p>
          <span class="o-small">{{ project.date }}</span>
        </div>
      </li>
    {% endfor %}
  </ul>
</nav>
