<div class="c-projects">
  <h3 class="c-projects__title">Projects&nbsp;↓</h3>
  <div class="c-projects__list">
    {% for project in projects %}
      <section class="c-projects__item js-project">
        <h2 class="o-title o-title--project" ">
          <a class="js-spanify" href="{{ project.url }}">{{ project.name }}</a>
        </h2>
        <p class="o-small js-animation" data-animation="fade-in">{{ project.description }}</p>
      </section>
    {% endfor %}
  </div>
</div>
