---
title: Page not found
eleventyComputed:
  pageTitle: '{{ title }} — {{ globalTitle }}'
eleventyExcludeFromCollections: true
robots: noindex, follow
layout: base
namespace: annex
header:
  title: Wrong destination
  subtitle: Sorry ☹️
  content: Unfortunately, the page you're trying to visit doesn't seem to exist.
  link:
    display: Get back to home
    url: /
---
