---
title: Benjamin Dos Santos
layout: base
---

<div class="l-wrapper">

  <header class="l-section">

    {% include 'header.njk' %}

  </header>


  <main class="l-section">

    {% block content %}

      {% include 'projects.njk' %}

    {% endblock %}

  </main>

  <footer class="l-section">

    {% include 'footer.njk' %}

  </footer>


</div>
