---
title: Benjamin Dos Santos
layout: base
namespace: home
---

<main id="main">
  <div class="l-container">
    {% block content %}
      {% include 'projects.njk' %}
    {% endblock %}
  </div>
</main>
