---
title: Offline
eleventyComputed:
  pageTitle: '{{ title }} — {{ globalTitle }}'
eleventyExcludeFromCollections: true
robots: noindex, follow
layout: base
namespace: annex
header:
  title: Offline
  subtitle: Sorry ☹️
  content: There isn't an internet connection to get the page.
---
