html {
  cursor: auto;
}

body {
  background-color: $c-light-grey;

  @include no-js {
    overflow-x: hidden;
  }

  @include js {
    overflow: hidden;

    @include mq(prm) {
      overflow: auto;
    }
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: $c-dark-grey;
  color: $c-light-grey;
}
