/* purgecss start ignore */

@include js {

  [data-animation] {
    filter: opacity(0);

    @include mq(prm) {
      filter: opacity(0);
    }
  }

  [data-animation='bigTranslate'] {
    transform-origin: left top;
    display: block;
  }

  [data-animation='smallTranslate'] {
    display: block;
  }

  [data-spanified] {
    overflow: hidden;
    display: block;
    line-height: 0.95;
  }
}

/* purgecss end ignore */
