$fs-calc: calc(100% + 1.85vmin);
$fs-body: 1em;
$fs-project-title: 10vw;
$fs-main-title: 1.333em;
$fs-small: 0.75em;

$wght-regular: 400;

html {
  font-size: $fs-calc;
  line-height: 1;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Space Grotesk', sans-serif;
  text-rendering: optimizeLegibility; // stylelint-disable-line
  text-transform: uppercase; // stylelint-disable-line
  font-weight: $wght-regular;
  color: $c-dark-grey;
}

@mixin paragraph {
  margin: $sp-s 0 0 0;
  max-width: 15em;

  &:first-child {
    margin: 0;
  }
}

p {
  @include paragraph;
}

a {
  color: $c-dark-grey;
  text-decoration: none;
}
