$fs-calc: calc(100% + 1.85vmin); // stylelint-disable-line
$fs-body: 1em;
$fs-project-title: 10vw; // stylelint-disable-line
$fs-project-title-ie11: 9vw; // stylelint-disable-line
$fs-main-title: 1.333em;
$fs-small: 0.75em;

$wght-regular: 400;

html {
  line-height: 1;
  font-size: $fs-calc; // stylelint-disable-line

  @supports not (font-size: #{$fs-calc}) { // stylelint-disable-line
    font-size: $fs-body;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Space Grotesk', sans-serif;
  text-rendering: optimizeLegibility; // stylelint-disable-line
  text-transform: uppercase; // stylelint-disable-line
  font-weight: $wght-regular;
  color: $c-dark-grey;
}

@mixin paragraph {
  margin: $sp-s 0 0 0;
  max-width: 15em;

  @include mq(ie11) {
    max-width: 17em;
  }

  &:first-child {
    margin: 0;
  }
}

p {
  @include paragraph;
}

a {
  color: $c-dark-grey;
  text-decoration: none;
  display: inline-block;

  &:focus {
    outline: 1px solid $c-dark-grey;
    outline-offset: 0.25rem;
  }

  &:hover {

    @include mq(':h') {
      outline-style: none;
    }
  }
}
