$fs-calc-mobile: 7vmin; // stylelint-disable-line
$fs-body-mobile: 1em;
$fs-title: 1.333em;
$fs-bigTitle: 1.777em;
$fs-small: 0.75em;

$wght-regular: 400;

html {
  font-size: $fs-calc-mobile; // stylelint-disable-line
  line-height: 1;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Space Grotesk', sans-serif;
  text-rendering: optimizeLegibility; // stylelint-disable-line
  text-transform: uppercase; // stylelint-disable-line
  font-weight: $wght-regular;
  color: $c-darkGrey;
}

p {

  @mixin paragraph {
    max-width: 12em;
    margin: $sp-s 0 0 0;

    &:first-child {
      margin: 0;
    }
  }
}

a {
  color: $c-darkGrey;
  text-decoration: none;
}
