$fs-calc-mobile: calc(1px + 7vw); // stylelint-disable-line
$fs-body-mobile: 1em;
$fs-title: 1.333em;
$fs-bigTitle: 1.777em;
$fs-small: 0.75em;

$regular-weight: 400;

@mixin paragraph {
  margin: 0 0 16px 0;
  max-width: 12em;
}

html {
  font-size: $fs-calc-mobile; // stylelint-disable-line
  line-height: 1;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; // stylelint-disable-line
  color: $c-darkGrey;
  text-transform: uppercase; // stylelint-disable-line
  font-weight: $regular-weight;
}

p {
  @include paragraph;
}

a {
  color: $c-darkGrey;
}
