$fs-calc-mobile: 7vmin; // stylelint-disable-line
$fs-body-mobile: 1em;
$fs-body-tablet: 200%;
$fs-title-mobile: 1.333em;
$fs-title-tablet: 10vw; // stylelint-disable-line
$fs-bigTitle: 1.777em;
$fs-small: 0.75em;

$wght-regular: 400;

html {
  font-size: $fs-calc-mobile; // stylelint-disable-line
  line-height: 1;

  @include media(m) {
    font-size: $fs-body-tablet;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Space Grotesk', sans-serif;
  text-rendering: optimizeLegibility; // stylelint-disable-line
  text-transform: uppercase; // stylelint-disable-line
  font-weight: $wght-regular;
  color: $c-darkGrey;
}

@mixin paragraph {
  max-width: 12em;
  margin: $sp-s 0 0 0;

  @include media(m) {
    max-width: 15em;
  }

  &:first-child {
    margin: 0;
  }
}

p {
  @include paragraph;
}

a {
  color: $c-darkGrey;
  text-decoration: none;
}
