.l-container {
  margin: 0 $sp-s;
}

/* purgecss start ignore */
.scroll-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* purgecss end ignore */
