---
thumbnail: /assets/images/other/thumbnail.png
type: website
description: A great description for my super website.
robots: index, follow
---

<!doctype html>
<html lang="en" class="no-js">

  {% include 'head.njk' %}

  <body data-namespace="{{ namespace }}">
    <div class="l-wrapper js-wrapper">

      {% include 'header.njk' %}

      {{ content | safe }}

      {% include 'footer.njk' %}

    </div>
  </body>

</html>
