---
globalTitle: Benjamin Dos Santos
thumbnail: /assets/images/other/thumbnail.png
type: website
description: Digital Designer & Frontend Developer based in Belgium.
robots: index, follow
---

<!doctype html>
<html itemprop lang="en" class="no-js">

  {% include 'head.njk' %}

  <body data-namespace="{{ namespace }}">
    <div class="js-wrapper">

      {% include 'header.njk' %}

      {{ content | safe }}

    </div>
  </body>

</html>
